.container {
  width: 80%;
  margin: auto;
}

.main {
  display: flex;
  margin: 4rem auto;
  width: 92.5%;
  justify-content: space-between;
}

.content {
  /* width: 28rem; */
  margin: 3.5rem 0 4rem 5rem;
}

.span {
  color: var(--orange);
  font-weight: 700;
  margin: 1.5rem 1rem;
}

.titleContent {
  margin: 1.5rem 1rem;
}

.text,
.price {
  margin: 2rem 1rem;
}

.text {
  color: var(--dark_grayish_blue);
}

.price {
  width: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  align-items: center;
}

.discount {
  margin: 0 1rem;
  padding: 0 5px;
  height: 1.25rem;
  background-color: var(--pale_orange);
  color: var(--orange);
}

.price > h4 {
  margin-top: 0.5rem;
  color: var(--dark_grayish_blue);
  text-decoration: line-through;
}

.subPrice {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .main {
    margin: auto;
    width: 100%;
    flex-direction: column;
    height: 100vh;
  }

  .content {
    margin: auto;
  }

  .price {
    width: 90%;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
  }
}
